@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  font-size: 62.5%;
  --main-font: "Archangelsk";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 4px solid red !important; */
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
}

picture {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 320px;
  padding: 0;
  margin: 0 auto; 
}

@font-face {
  font-family: 'Archangelsk';
  src: url('fonts/Archangelsk.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
}


/* * Header */

header {
  height: 8rem;
}

.nav-menu  ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

/* ! Hero section */
.common-background {
  background: url('images/hero-sec-mobile-bg.png') no-repeat center top;
  background-size: contain;
  
}
.hero {
  min-height:80dvh;
  display: flex;
  flex-direction: column;
  justify-content:flex-end ;
}


/* ? Description Section */

.description h1 {
  font-family:  var(--main-font), sans-serif;
  font-weight: normal;
  text-align: left;
  font-size: 3rem;
  margin: 7rem 1.2rem 2.5rem 1.2rem;
  
}

.description p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 2.5rem 1.2rem 7rem 1.2rem;
  opacity: 90%;
}

.description span {
  color: #69C3E3;
}


.picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}


.play {
  margin-top: 7rem;
  position: relative;
  overflow: hidden;
  background: #000000;
  padding: 8rem 2rem 2rem 2rem;
  color: white;
}


.play::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 7rem; 
  background: url("images/dots-gradient.png") repeat-x top;
  background-size: contain;
  pointer-events: none;
  z-index: 10;
}

.play h2 {
  font-family: var(--main-font), sans-serif;
  font-size: 3rem;

}

.play p {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.play span {
  color: #69C3E3;

}


.play form {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}


.play input {
  width: 29.4rem;
  height: 3.3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #777777;
  background: transparent;
}

.play input::placeholder {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.file-input {
  display: none; 
}

.file-label {
  display: inline-block;
  padding: 1rem 2rem;
  width: 29.6rem;
  height: 12rem;
  border-style: dashed;
  border-width: 0.1rem;
  border-color: #777777;
  /* background-color: #69C3E3; */
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;

}

.file-label:hover {
  background-color: transparent;
}

.play button {
  color: #000000;
  width: 18.2rem;
  height: 6rem;
  background-color: #F8F200;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.checkbox-custom {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  user-select: none;
  
}

.checkbox-custom input {
  display: none; 
}

.checkmark {
  width: 2.8rem;          
  height: 2.8rem;
  border: 0.2rem solid #ccc;
  background-color: transparent;
  display: inline-block;
  margin-right: 1rem;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;     
}

.checkbox-custom input:checked + .checkmark::after {
  content: "";
  position: absolute;
  left: 0.8rem;
  top: 0.4rem;
  width: 0.7rem;
  height: 1.4rem;
  border: solid #F8F200;
  border-width: 0 0.3rem 0.3rem 0;
  transform: rotate(45deg);
}


/*  * Deep dive section */
.deep-dive {
  position: relative;
  overflow: hidden;
  padding-top: 8rem ;
  padding-bottom: 7rem;
  background: #F8F200;
  
}

.deep-dive::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 7rem;
  background: url("images/dots-gradient-2.png") repeat-x top;
  background-size: contain;
  pointer-events: none;
  z-index: 10;
}

.deep-dive picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7.5rem;
}

.deep-dive h3 {
  margin: 4rem 1.2rem 2.5rem 1.2rem;
  font-family: var(--main-font), sans-serif;
  font-size: 3rem;
}

.deep-dive p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0rem 1.2rem 2.5rem 1.2rem;
  line-height: 3.2rem;
}

.parametrs p {
  display: flex;
  align-items: center;
  line-height: 100%;
}

.parametrs p img {
  margin-right: 1.8rem;
}

.deep-dive button {
  color: #F8F200;
  width: 18.2rem;
  height: 6rem;
  background-color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  margin-left: 1.2rem;
}

/* ! Buy game section */

.buy-game {
  background-color: #000000;
  color: #FFFFFF;
}

.buy-game h4 {
  padding: 4rem 1.2rem 2.5rem 1.2rem;
  font-size: 3rem;
  font-family: var(--main-font),sans-serif;

}

.buy-game span {
  display: block;
  margin-bottom: 2rem
}

.bonuses {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
